.forgotPassword__body {
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.forgotPassword__container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  border: 5px solid #bcc998;
  border-radius: 50px;
  background-color: #e8b0af;
}
.lock__img {
  width: 20%;
  height: auto;
}
