.menu__productCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu__singleProduct {
  position: relative;
  border-radius: 10px;
  width: 250px;
  height: 230px;
  background: #ffffff;
  box-shadow: 0px 6px 9px #bcc998;
  overflow: hidden;
  margin-bottom: 25px;
  padding: 5px;
  flex: 1 1 auto;
}
.menu__singleProduct:hover {
  transform: scale(1.1);
}
.menu__productImg img {
  display: block;
  object-fit: contain;
  margin: auto;
  width: 50%;
  height: 100px;
}
.menu__productContent {
  text-align: center;
}
.menu__productContent h6 {
  font-weight: 600;
}
.menu__productContent a {
  text-decoration: none;
  color: #000000;
}
.menu__productContent a:hover {
  color: #000000;
}
.menu__productDesc {
  font-size: 0.9rem;
  line-height: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.menu__productPrice,
.menu__orderBtn {
  display: inline-block;
  margin: 0 5px 0 30px;
}
.menu__productPrice {
  font-weight: 600;
  font-size: 1.2rem;
}
.menu__orderBtn {
  padding: 7px 25px;
  font-weight: 600;
  border-radius: 5px;
  background: #bcc998;
  border: none;
  color: #000000;
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  .menu__singleProduct {
    width: 100%;
    height: auto;
  }

  .menu__productImg img {
    width: 100%;
    height: auto;
    display: inherit;
  }

  .menu__productCards {
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 16rem));
    justify-content: center;
  }

  .menu__orderBtn {
    display: block;
    padding: 5%;
    margin-right: 0;
    margin-left: 0;
  }

  .menu__productContent {
    text-align: center;
  }
  .menu__productContent h6 {
    font-weight: 600;
  }
  .menu__productContent a {
    text-decoration: none;
    color: #000000;
  }
  .menu__productContent a:hover {
    color: #000000;
  }
  .menu__productDesc {
    font-size: 1rem;
    line-height: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .menu__productPrice {
    display: block;
    margin-right: 0;
    margin-left: 0;
  }
  .menu__productPrice {
    font-weight: 600;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 576px) {
  .menu__singleProduct {
    width: 100%;
    height: auto;
  }

  .menu__productImg img {
    width: 100%;
    height: auto;
    display: inherit;
  }

  .menu__productCards {
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 16rem));
    justify-content: center;
  }

  .menu__orderBtn {
    display: block;
    padding: 5%;
    margin-right: 0;
    margin-left: 0;
  }

  .menu__productContent {
    text-align: center;
  }
  .menu__productContent h6 {
    font-weight: 600;
  }
  .menu__productContent a {
    text-decoration: none;
    color: #000000;
  }
  .menu__productContent a:hover {
    color: #000000;
  }
  .menu__productDesc {
    font-size: 1rem;
    line-height: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .menu__productPrice {
    display: block;
    margin-right: 0;
    margin-left: 0;
  }
  .menu__productPrice {
    font-weight: 600;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 320px) {
  .menu__singleProduct {
    width: 100%;
    height: auto;
  }

  .menu__productImg img {
    width: 100%;
    height: auto;
    display: inherit;
  }

  .menu__productCards {
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 16rem));
    justify-content: center;
  }

  .menu__orderBtn {
    display: block;
    padding: 5%;
    margin-right: 0;
    margin-left: 0;
  }

  .menu__productContent {
    text-align: center;
  }
  .menu__productContent h6 {
    font-weight: 600;
  }
  .menu__productContent a {
    text-decoration: none;
    color: #000000;
  }
  .menu__productContent a:hover {
    color: #000000;
  }
  .menu__productDesc {
    font-size: 1rem;
    line-height: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .menu__productPrice {
    display: block;
    margin-right: 0;
    margin-left: 0;
  }
  .menu__productPrice {
    font-weight: 600;
    font-size: 1.2rem;
  }
}
